"""
pandas
scikit-learn
xgboost
matplotlib
joblib
numpy==1.26.4
streamlit>=1.35.0
Pillow
requests
"""
streamlit
pandas
numpy
matplotlib
scikit-learn
xgboost
surprise
pillow
requests
joblib


